<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center text-white"
      routerLink="/home"
    >
      <h3 class="font-weight-bolder mb-0">CVPRO</h3>
    </a>
    <div class="collapse navbar-collapse" id="navbar-nav-header">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- Enlace a la ruta home -->
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Hogar</a
          >
        </li>
        <li class="nav-item">
          <!-- Enlace a la ruta login -->
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Iniciar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
