form {
  background-color: rgba(222, 222, 222, 0.7);
  margin: auto;
  padding: 20px;
}

.centrar {
  text-align: center;
}

.slidecontainer {
  width: 100%;
  /* Full-width */
}

.jumbotron {
  margin-left: 160px;
}

.slider {
  -webkit-appearance: none;
  /* Override default styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 15px;
  /* Height of the slider */
  background: #d3d3d3;
  /* Background color */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Transparency */
  transition: opacity .2s;
  /* Transition effect */
}

.slider:hover {
  opacity: 1;
  /* Fully shown on hover */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Width of the thumb */
  height: 25px;
  /* Height of the thumb */
  background: #04AA6D;
  /* Color of the thumb */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
