<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <div class="login-container">
      <h2>Configuraciones</h2>
      <form>
        <div class="form-group">
          <label for="username">Color fondo</label>
          <input type="color" class="color"/>
        </div>

        <div class="form-group">
          <label for="password">Color letra</label>

          <input type="color" class="color"/>
        </div>
        <div class="form-group">
          <label for="password">Tamaño párrafo</label>
          <input type="number" id="tamanio" />
        </div>
        <a routerLink="/profile">
          <button type="submit">Guardar</button>
        </a>
      </form>
    </div>
  </div>

  <section id="features" class="bg-white">
    <div class="container">
      <div class="section-content">
        <!-- Section Title -->
        <div class="title-wrap mb-5" data-aos="fade-up">
          <h2 class="section-title">¡Crea el CV de tus sueños!</h2>
          <p class="section-sub-title">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            <br />
            pharetra augue. Donec id elit non mi.
          </p>
        </div>
        <!-- End of Section Title -->
        <div class="row">
          <!-- Features Holder-->
          <div class="col-md-10 offset-md-1 features-holder">
            <div class="row">
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-cog fs-40"></i>
                  </div>
                  <h4>Easy to Customize</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-frame-contract fs-40"></i>
                  </div>
                  <h4>Pixel Perfect</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
              </div>
              <!-- End of Feature Item -->
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center">
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-bubble fs-40"></i>
                  </div>
                  <h4>Full Support</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-magic-wand fs-40"></i>
                  </div>
                  <h4>Clean Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
              </div>
              <!-- End of Feature Item -->
              <!-- Features Item -->
              <div class="col-md-4 col-sm-12 text-center mt-4">
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-clock fs-40"></i>
                  </div>
                  <h4>Ontime Project</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
                <div
                  class="shadow rounded feature-item p-4 mb-4"
                  data-aos="fade-up"
                >
                  <div class="my-4">
                    <i class="lnr lnr-thumbs-up fs-40"></i>
                  </div>
                  <h4>Built with SASS</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
              </div>
              <!-- End of Feature Item -->
            </div>
          </div>
          <!-- End of Features Holder-->
        </div>
      </div>
    </div>
  </section>

  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
    <img src="assets/roxy/img/obj_triangle.png" alt="no encontrado" />
  </div>
  <div class="triangle triangle-2">
    <img src="assets/roxy/img/obj_triangle.png" alt="no encontrado" />
  </div>
  <div class="triangle triangle-3">
    <img src="assets/roxy/img/obj_triangle.png" alt="no encontrado" />
  </div>
  <div class="triangle triangle-4">
    <img src="assets/roxy/img/obj_triangle.png" alt="no encontrado" />
  </div>
</div>
