.login-container {
  width: 100%;
  max-width: 400px;
  /* margin: auto; */
  padding: 20px;
  border-radius: 20px;
  background: #d333b1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0.9;
}

section {
  z-index: 1;
  color: rgb(255, 50, 50);
  background-color: rgb(180, 239, 254) !important;
}

.color {
  padding: 0;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #6f00ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}
